body {
    background-color: #e0e0e0;
}

.Home {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: scroll;
}

.watchlist {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Ensure this is more specific */
}

.watchliststock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
}

.watchliststock h4,
.watchliststock p {
    margin: 0; /* Reset margin for h4 and p elements */
    padding: 0; /* Reset padding for h4 and p elements */
    flex: 1; /* Ensure h4 and p take available space */
    text-align: center; /* Center text */
}

.watchliststock:hover {
    color: white;
    background-color: #1f3c20;
}

.watchlistTitle {
    text-align: center;
}
.watchlistButton {
    margin-bottom: 5px;
}

.llgoff {
    background-color: rgb(240, 10, 10);
    width:  12px;
    height:  12px;
    border: 1px solid black;
    border-radius: 50%;
}
.llgon {
    background-color: rgb(60, 240, 10);
    width:  12px;
    height:  12px;
    border: 1px solid black;
    border-radius: 50%;
}
.llgset {
    background-color: rgb(2, 72, 170);
    width:  12px;
    height:  12px;
    border: 1px solid black;
    border-radius: 50%;
}
.llgdots {
    display: flex;
    justify-content: space-between;
    margin: 1px;

    p {
        margin: 1px;
    }
}
